@{
    ViewData["Title"] = "Product Details Page";
    Layout = "_MainLayout";
    double rating = Model.Rating;
}

@model Product

<div class="container">
    <div class="product grid">
        <div class="product__img" style="background-image: url(@Model.LinkImage)" ></div>
        <div class="product_box">
            <span class="product__name">@Model.Name</span>
            <div class="product_box--line2">
                <div class="product__rating line">
                    <p class="product__rating--point">@Model.Rating</p>
                    <div class="product__rating-list-star line">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (rating >= 1)
                            {
                                rating -= 1;
                                <i class="fa-solid fa-star star-icon"></i>
                            }
                            else if(rating >= 0.5)
                            {
                                rating -= 0.5;
                                <i class="fa-regular fa-star-half-stroke star-icon"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-star"></i>
                            }
                        }
                    </div>
                </div>
                <div class="product__sold line">
                    <div class="product__sold-item">@Model.SoldQuantity</div>
                    <div class="product__sold-item">Đã Bán</div>
                </div>
            </div>
            <div class="product_box--line3">
                <div class="product__old-price">
                    <span class="product__currency-unit">đ</span> <!-- đơn vị tiền tệ -->
                    <span class="product__price">@Model.Price</span>
                </div>
                <div class="product__new-price">
                    <span class="product__currency-unit">đ</span> <!-- đơn vị tiền tệ -->
                    <span class="product__price">@((double)Model.Price - ((double)Model.Price * (double)Model.Discount / 100))</span>
                </div>
                <div class="product__discount">
                    <div class="product__discount--item">@Model.Discount%</div>
                    <div class="product__discount--item">GIẢM</div>
                </div>
            </div>

            <div class="product_box-line4 line">
                <span class="product_box-line4__text">Vận Chuyển</span>
                <div class="transport">
                    <div class="transport__icon"></div>
                    <span class="transport__text">Miễn phí vận chuyển</span>
                </div>
            </div>
            <div class="product_box-line5">
                <span class="product_box__amouny--text">Số Lượng</span>
                <div class="product_box__amouny">
                    <div class="product_box__amouny--item product_box__subtraction">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                    <input type="text" class="product_box__amouny--item product_box__amouny--vallue" value="1"/>
                    <div class="product_box__amouny--item product_box__add">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="product_box__warehouse">
                    <span class="product_box__warehouse--item product_box__warehouse--value">@Model.WarehouseQuantity</span>
                    <span class="product_box__warehouse--item">sản phẩm có sẵn</span>
                </div>
            </div>

            <div class="product_box-line6">
                <a id="btnThemGioHang" onclick="ThemVaoGioHang('@Model.Id')" class="product_box__add-cart">
                    <div class="product_box__add-cart--icon">
                        <i class="fa-solid fa-cart-plus"></i>
                    </div>
                    <span class="product_box__add-cart--text">Thêm Vào Giỏ Hàng</span>
                </a>
                <button class="product_box__buy-now">Mua Ngay</button>
            </div>
        </div>
    </div>

</div>

<script src="~/js/ProductDetails.js"></script>
<script>
    const ThemVaoGioHang = async (productID) => {
        let check = 0;
        let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = () => {
                // console.log(xhttp)
                if (xhttp.readyState == 4 && xhttp.status == 200){                 
                    check = 1;
                } 
            }
        
            xhttp.open("GET", "http://localhost:5295/User/GetUserLogin/", false);
           await xhttp.send();
     
        if (check === 1){
            const quantity = document.querySelector(".product_box__amouny--vallue").value;
                    
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = () => {
                    if (xhttp.readyState == 4 && xhttp.status == 200){
                       
                        console.log(xhttp.responseText);
                        alert("Thêm vào giỏ hàng thành công");
                    }
                }
            
                xhttp.open("GET", `http://localhost:5295/ProductDetails/AddCart?productId=${productID}&quantity=${quantity}`, false);
                await xhttp.send();
                GetCartMinUser();
        }
        else{
            window.location.href = "/LoginAndSignup/Login"
        }
    }
</script>