@model Product

<a href="@Url.Action("Index", "ProductDetails", new { id = Model.Id })" class='product-item'>
    <div class="product-item__img" style="background-image: url(@Url.Content(Model.LinkImage))">
    </div>
    <div class="product-item-content">
        <h4 class="product-item__review">@Model.Name</h4>
        <div class="produc-item-sell">
            <div class="product-item-combox-price">
                <span class="product-item__currency-unit">đ</span> <!-- đơn vị tiền tệ -->
                <span class="product-item__price">@((double)Model.Price - ((double)Model.Price * (double)Model.Discount / 100))</span>
            </div>
            <span class="product-item__Quantity-purchased">Đã bán <span>@Model.SoldQuantity</span></span>
        </div>
    </div>
    @if (Model.Favorite == true)
    {
        <div class="produc-item__favourite">
            Yêu Thích
        </div>
    }
    @if (Model.Discount != 0)
    {
        <div class="produc-item__sale_off">
            <p class="produc-item__sale_off--text">@Model.Discount%</p>
            <p>Giảm</p>
        </div>
    }
    
</a>